
body {
  margin: 0;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}
h1{
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  font-size: 49px;
  line-height: 56px;
  width: 489px;
  height: 112px;
}
h1 span {
  color: #89C5CC;
  font-weight: bold; /* estilo da fonte */

}
.text {
  font-family: "Open Sans", sans-serif;
}
nav {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: space-between;  /* como ficara o espaco entre os espacos*/
  align-items: center;
  
  margin-bottom: 55px;
}

ul {
  font-family: "Mulish", sans-serif;
  display: flex; /* posicionamento das informacoes*/
  gap: 48px; /* espaco entre elas*/
  list-style: none;  /* como ira ficar a ordenacao da lista*/
  margin: 0;
  padding: 0;

}
main {
  margin: 146px auto 0;

}
ul li a:hover{ /* "ao passar o mouse" "*/
  font-weight: bold; /* espessura da fonte*/
 
}
ul li a {
  opacity: 1;
}
ul li a {
  text-decoration: none; /* tirar decoração do texto ex barra embaixo do lindl */
  color: black;

}
p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  }

section p {
  margin: 40px 0;

}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  background-color: #69B99D;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  display: flex; /* ter flexibilidade das posicoes, pode ser usado direto no inspecionar do browser */
  font-weight: bold;
  border-radius: 4px;
  border: none;
  justify-content: center;
  padding: 14px 32px 15px;
  gap: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #3a896d;

}

footer {
  font-size: 14px;
  line-height: 28px;  /* usar line-height para cololocar altura da linha*/
  text-align: center;
  margin-top: 83px;
}
footer a {
  text-decoration: none;
  color: black;
}

#balls {
 position: fixed;
 bottom: 0;
 right: 0;
 
}